# Compiled
*.class
*.jar
*.war
*.ear
target/
build/

# Logs
*.log
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iws
*.iml
*.ipr
*.p12
.settings/
.project
.classpath
.factorypath
.springBeans
.sts4-cache
.vscode/

# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/target/

# Gradle
.gradle/
.gradlew
.gradlew.bat

# OS
.DS_Store
Thumbs.db

# Application
*.application
*.ctxt
.mtj.tmp/

# Environment
.env
repository.env

# Help
HELP.md